// $base-font-size: 14px !default;
$font-size-1: 19.9375px;
$font-size-2: 20px;
$font-size-3: 22.5px;
$font-size-4: 23.4375px;
$font-size-5: 24px;
$font-size-6: 25px;
$font-size-7: 25.876px;
$font-size-8: 26.5px;
$font-size-9: 33.75px;
$font-color-1: #333;
$font-color-2: #666;
$font-color-3: #999;
$color-white: #fff !default;
$color-black: #000 !default;
$color-theme-1: #4a7ee8;
$max-size: 100%;
$default-margin-width: 2px;
$default-padding-width: 2px;
$default-border-width: 1px !default;
$default-border-style: solid !default;